<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>Name:{{name}}
    <br> dob:{{dob}}
    <br>email:{{email}}
    <br>street:{{street}}
    <br>country:{{country}}
    <br>number:{{number}}
    <br>flat:{{flat}}
    <br>gender:{{gender}}
    <br><img src="{{image}}" style="height: 200px; width: 200px;">
    <br><button><a href="http://127.0.0.1:8000/">enter other user name</a></button>
    <br><button><a href="http://127.0.0.1:8000/showdb2">view all entries </a></button>
</body>
</html>